
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:#0B3731;
    color:#eee;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/*
    hilight color : 87E1D4
    selected color: #219E8C
    default color : 12574D
    background dark: 0B3731;
*/

.topcoat-navigation-bar {
  height: 4.375rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #0B3731;
  color: #fff;
  box-shadow: inset 0 -1px #333434, 0 1px #454646;
}

.topcoat-navigation-bar__title {
  font-size: 1.3rem;
  font-weight: 400;
  color: #eee;
}

.topcoat-switch {
  font-size: 16px;
  padding: 0 1.25rem;
  border-radius: 0px;
  z-index: 10;

}

.topcoat-switch__toggle {
  line-height: 3rem;
  height: 3rem;
  width: 2rem;
  border-radius: 0px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
  background-color: #87E1D4;
  border: 1px solid #87E1D4;
  margin-left: -1.3rem;
  margin-bottom: -1px;
  margin-top: -1px;
  box-shadow: inset 0 1px #737373;
  -webkit-transition: margin-left 0.05s ease-in-out;
  transition: margin-left 0.05s ease-in-out;
}

.topcoat-switch__toggle:after {
  background-color: #0B3731;
  color:#000;

}
.topcoat-switch__toggle:before {
  background-color: #0B3731;
  color:#87E1D4;
}

.topcoat-button--cta {
  border-radius: 0px;
  border: 1px solid #134f7f;
  background-color: #219E8C;
  box-shadow: inset 0 1px rgba(255,255,255,0.36);
  color:#000;
  font-weight: 500;
  text-shadow: 0 -1px rgba(0,0,0,0.36);
}

.topcoat-button--cta:hover {
  background-color: #87E1D4;
  
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

.topcoat-button--cta:active {
  background-color: #87E1D4;
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

#infoView .topcoat-button--cta {
    float:right;
    margin:20px 0px;
}

.dvLabelValue {
    
    font: 18px/32px;
    height:32px;  
}

div.value{
    background-color: #0B3731;
    width:240px;
    height:32px;   
    margin:0px 0px 5px 10px;
    padding:0px 12px 0px 12px;
    font: bold 18px/32px;
}



.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.accordion {
    background:#12574D;
    min-height:700px;
}

.accordion li {
    list-style: none;
}

/* Layout & Style */

.accordion li > a {
    display: block;
    position: relative;
    min-width: 110px;
    padding: 20px 10px 0 40px;
    height: 52px;
    color: #21B09A;
    font: bold 24px/36px Helvetica;
    text-decoration: none;
    text-shadow: 0px 0px 4px rgba(0,0,0, .45);
    letter-spacing: 1.8pt;
    background: #219E8C;

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.accordion > li:hover > a {
    background: #87E1D4;
    color: #0B3731;
    text-shadow: 1px 1px 1px rgba(255,255,255, .9);
}
.accordion > li:target > a {
    color: #0B3731;
    text-shadow: 1px 1px 1px rgba(255,255,255, .9);
    background: #21B09A;
}

/*.accordion li > a span {
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    padding: 0 10px;
    margin-right: 10px;
    
    font: normal bold 12px/18px Arial, sans-serif;
    background: #404247;
    
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
    box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}

.accordion > li:hover > a span,
.accordion > li:target > a span {
    color: #fdfdfd;
    text-shadow: 0px 1px 0px rgba(0,0,0, .35);
    background: #3e5706;
}*/

/* Images */

/*.accordion > li > a:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px 8px;

    background-repeat: no-repeat;
    background-image: url(../img/icons.png);
    background-position: 0px 0px;
}*/

.sub-view
{
}



/* Functionality */

.accordion li > .sub-view {
    height: 0;
    overflow: hidden;
    margin:0px 10px;

/*    -webkit-transition: height, margin .4s ease-in-out;
    -moz-transition: height .4s ease-in-out;
    -o-transition: height .4s ease-in-out;
    -ms-transition: height .4s ease-in-out;*/
    transition: height .4s ease-in-out, margin-top .6s ease-out;
}

.accordion li:target > .sub-view {
    height: 240px;
    overflow:scroll;
    margin:10px 10px;
}






